body.Dark{
    background-color:  hsl(237, 14%, 26%);
    transition: all 0.4s;
}





body.Dark header{
    background-image: url("images/bg-desktop-dark.jpg");
   
}

body.Dark li{
    background-color:hsl(233, 14%, 35%) ;
    border-color:  hsl(234, 39%, 85%);
   
}

body.Dark li p{
   color: hsl(234, 39%, 85%) ;
}

body.Dark ul.obj a:hover{
    color:hsl(236, 33%, 92%);
    transition: all 0.3s;
}

body.Dark ul.obj a:focus{
    color:hsl(236, 33%, 92%) ;
}

body.Dark div.attribution{
    color:  hsl(234, 39%, 85%)
}

body.Dark div.attribution a{
    color: hsl(236, 33%, 92%);
}

@media screen and (max-width:480px){
    body.Dark  header{
        background-image: url(./images/bg-mobile-dark.jpg);
    }
    body.Dark ul.items{
        background-color:hsl(233, 14%, 35%) ;
    }
}
